@model CareStream.Models.UserAttributeModel
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="container">
        <div class="row ">
            <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Data Type</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Properties != null && Model.Properties.Count > 0)
                    {
                        foreach (var item in Model.Properties)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataType)
                                </td>
                            </tr>
                        }
                    }
                    <tr>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="row ">
            <form method="post" action="/UserAttribute/Create">
                <div id="schema-attrs-container">
                    <input type="hidden" asp-for="TargetObjects" value="user" />
                    <div class="form-group row mb-6">
                        <label for="staticname" class="col-sm-1 col-form-label">
                            Name
                        </label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" asp-for="Property.Name" id="name" placeholder="Enter Name">
                        </div>
                        <label for="staticdatatype" class="col-sm-1 col-form-label">
                            Data Type
                        </label>
                        <div class="col-sm-5">
                            @Html.DropDownListFor(x => x.Property.DataType, (SelectList)ViewData["DataType"],
                                              new { style = "-webkit-appearance: menulist !important;width:300px", @class = "form-control" })

                        </div>
                    </div>
                    <br />
                    <div class="form-group row mb-3">
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-primary text-white" onclick="blockUi();">Submit</button>
                        </div>
                    </div>
                    <br />
                </div>
            </form>
        </div>
    </div>
<script type="text/javascript">
    $(document).ready(function () {
        unBlockUi();
        if ('@(Model == null || Model.Properties == null || Model.Properties.Count <= 0)'=='True')
            toggleNoDataFound(false);
    });
</script>



